snippet sec "Section divider"
# ---------- $1 ----------

$0
endsnippet

snippet lkup "Define lookup"
lookup $1 {
        $2
} $1;
endsnippet

snippet fea "Define feature"
feature $1 {
        $2
} $1;
endsnippet

